@media screen and (max-width: 768px) {
  .SearchBar {
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .ArticleContainer {
    margin-bottom: 70px;
  }
  .Article {
    p:first-of-type {
      display: none;
    }
  }
  .GoTop {
    bottom: 85px;
    right: 5px;
  }
}
