$main-color: #42656e;
$sub-color: #284b54;
$submit-button-color: #c89666;
$submit-button-sub-color: #a07851;

%base-button {
  border: {
    radius: 4px;
    style: none;
  }
  color: white;
  cursor: pointer;
  font-weight: 600;
  min-height: 35px;
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

/* SearchBar Component */

.SearchBar {
  display: flex;
  width: -webkit-fill-available;
  background-color: $main-color;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  * {
    @extend %base-button;
    margin: 0 5px;
    padding: 0 6px;
  }
  .UserInput {
    background-color: $sub-color;
    flex: 1;
  }
  select {
    background-color: $sub-color;
    flex: 0.2;
  }
  .SubmitButton {
    background-color: $submit-button-color;
    flex: 0.2;
    &:hover {
      background-color: $submit-button-sub-color;
    }
  }
}

/* ArticleContainer Component */

.ArticleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.Article {
  max-width: 350px;
  padding: 20px 10px;
  .ImgWrapper {
    position: relative;
    max-width: 350px;
    height: 280px;
    display: flex;
    margin: 0 auto;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
    }
  }
  h3 {
    margin: 10px 0 0 0;
  }
  p {
    font-size: unquote("clamp(10px, 16px + 3vw, 16px)");
  }
  p:last-of-type {
    color: dimgray;
  }
  button {
    @extend %base-button;
    background-color: $sub-color;
    a {
      text-decoration: none;
      color: white;
      padding: 0 20px;
    }
    &:hover {
      background-color: $main-color;
    }
  }
}

/* GoTop Component */

.GoTop {
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  background: $sub-color;
  border-radius: 50%;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
  }
  a {
    fill: #fff;
    line-height: 60px;
    display: inline-block;
    width: 100%;
  }
  svg {
    padding: 12px 0;
  }
}

@media screen and (max-width: 768px) {
  .SearchBar {
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .ArticleContainer {
    margin-bottom: 70px;
  }
  .Article {
    p:first-of-type {
      display: none;
    }
  }
  .GoTop {
    bottom: 85px;
    right: 5px;
  }
}
